<div class="video-frame">
  <video ref:video class="video-content" controls>
      {{#if src}}
        <source src={{src}} type="application/x-mpegURL">
      {{/if}}
    </video>
</div>

<style scoped>
  .video-frame {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }

  .video-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>

<script>
  import Hls from 'hls.js'
  import generatePlaylist from '../scripts/m3u8'
  import config from '../config'

  export default {
    data() {
      return {
        src: null,
      }
    },
    oncreate() {
      if (Hls.isSupported()) {
        this.observe('src', src => {
          if (src) {
            const hls = new Hls(config.hls || {})
            hls.loadSource(src)
            hls.attachMedia(this.refs.video)
          }
        })
      }

      generatePlaylist(this.get('videoId'), this.get('videoKey'))
        .then(src => {
          this.set({src})
        })
    },
  }
</script>
